{% extends 'base.html' %}
{% block conteudo %}



          <h1>PLANETA FAUNA</h1>
      <figure class="figure1">
          <img src="{{url_for('static',filename='imagens/planeta.png')}}">
      </figure>
  <form action="/cadastrarUsuario" method="POST">
    <label>NOME DO PET:</label>
   <input type="text" name="pet" id="pet"/><br><br>


    <label>IDADE:</label>
    <input type="text" name="idade" id="idade/"><br><br>

    <label>ESPÉCIE: </label>
    <input type="text" name="especie" id="especie"/><br><br>

    <label>DONO: </label>
    <input type="text" name="dono" id="dono"/><br><br>

    <button>CADASTRAR</button>
    </form>
    <a href="/listar">Consultar Tudo</a><br><br>
    <a href="/listarIndividual">Consultar Individual</a><br><br>
    <a href="/atualizar">Atualizar</a><br><br>
    <a href="/excluir">Excluir</a><br><br>
{% endblock %}