{% extends 'base.html' %}
{% block conteudo %}


<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{titulo}}</title>

        <nav>
           <h1>PLANETA FAUNA</h1>
      <figure class="figure1">
          <img src="{{url_for('static',filename='imagens/planeta.png')}}" class="img1">
      </figure>
    <ul>
      <li>
          <div class="caixa1">
        <a href="/faleconosco">FALE CONOSCO</a>
          </div>
      </li>

        <li>
            <div class="caixa2">
        <a href="/cadastro">REGISTRAR PET</a>
            </div>
        </li>

        <li>
            <div class="caixa3">
        <a href="/contato">LISTA COMPLETA</a>
            </div>
      </li>
    </ul>
        </nav>



    <img src="{{url_for('static',filename='imagens/animal.png')}}" class="img2">




</head>
<body>




{% endblock %}